<h3> {{ 'UniversisGraduationModule.RequirementsCheck.Title' }} </h3>
<div class="py-3">
  <div class="font-md mb-3"> {{ 'UniversisGraduationModule.RequirementsCheck.StatusCheck' }} </div>
  <div class="font-lg">{{ statusMessage }}</div>
</div>
<div class="py-3">
  <div class="font-md mb-4">{{ 'UniversisGraduationModule.RequirementsCheck.DegreeRequirements' }} </div>
  <div class="col">
    <ng-container *ngFor="let requirement of requirements"
      [ngTemplateOutlet]="requirement.type == 'simple' ? simpleBlock : logicBlock"
      [ngTemplateOutletContext]="{requirement:requirement}">
    </ng-container>
  </div>
</div>

<ng-template #simpleBlock let-requirement='requirement'>
  <div class="grad-rule">
    <div class="title">{{ requirement.title }}</div>
    <div class="description">{{ requirement.description }}
    </div>
    <div class="icon-container">
      <span class="fa-stack">
        <i class="fa fa-circle fa-stack-2x"
          [ngClass]="{'text-white': requirement.status == 'pending',
                      'text-success': requirement.status == 'completed',
                      'text-danger': requirement.status == 'failed',
                      'text-secondary': requirement.status == 'unavailable'}">
        </i>
        <i [ngClass]=" {'far fa-clock fa-stack-2x fa-inverse': requirement.status == 'pending',
                        'fa fa-stack-1x fa-inverse': requirement.status != 'pending',
                        'fa-check': requirement.status == 'completed',
                        'fa-times': requirement.status == 'failed',
                        'fa-lock': requirement.status == 'unavailable'}">
        </i>
      </span>
    </div>
  </div>
</ng-template>

<ng-template #logicBlock let-requirement='requirement'>
  <ng-container
    [ngTemplateOutlet]="simpleBlock"
    [ngTemplateOutletContext]="{requirement:requirement}">
  </ng-container>
  <div class="grad-rule-op" [ngClass]="{'or': requirement.type == 'or',
                                        'and': requirement.type == 'and'}">
    <div class="grad-rule-1">
      <ng-container
        [ngTemplateOutlet]="simpleBlock"
        [ngTemplateOutletContext]="{requirement:requirement.subrules[0]}">
      </ng-container>
    </div>
    <div class="grad-rule-2">
      <ng-container
        [ngTemplateOutlet]="simpleBlock"
        [ngTemplateOutletContext]="{requirement:requirement.subrules[1]}">
      </ng-container>
    </div>
    <div class="branch"></div>
    <div class="split"></div>
    <div class="con"></div>
    <div class="operator-container">
      <div class="operator">
        <span *ngIf="requirement.type == 'or'">ή</span>
        <span *ngIf="requirement.type == 'and'">και</span>
      </div>
    </div>
  </div>
</ng-template>
